@import 'tailwindcss';

.bg-olive {
    background-color: #606c38;
}
.bg-dark-olive {
    background-color: #283618;
}
.bg-cream {
    background-color: #fefae0;
}
.bg-tan {
    background-color: #dda15e;
}
.bg-burnt-orange {
    background-color: #bc6c25;
}

.text-olive {
    color: #606c38;
}
.text-dark-olive {
    color: #283618;
}
.text-cream {
    color: #fefae0;
}
.text-tan {
    color: #dda15e;
}
.text-burnt-orange {
    color: #bc6c25;
}

.border-olive {
    border-color: #606c38;
}
.border-dark-olive {
    border-color: #283618;
}

.focus\:ring-dark-olive:focus {
    --tw-ring-color: #283618;
    box-shadow: 0 0 0 2px var(--tw-ring-color);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2115;
}
